@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif+JP:wght@200..900&display=swap');
@import "tailwindcss";

/* theme */
@theme {
  /* colors */
  --color-moon-deep-purple: #210635; 
  --color-moon-mystic-plum: #420d4b; 
  --color-moon-orchid-glow: #7b337e;
  --color-moon-lavender-sky: #6667ab;
  --color-moon-blush-mist: #f5d5e0;

  /* font */
  --font-inter: "Inter", sans-serif;
  --font-noto-jp: "Noto Serif JP", serif;
}

/* setup */
html {
  scroll-behavior: smooth;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,var(--color-moon-deep-purple) 0%, var(--color-moon-blush-mist) 50%, var(--color-moon-lavender-sky) 100%);
  border-radius: 6px;
}

/* class */
.btn-primary {
  @apply w-full sm:w-auto rounded-md bg-white px-4 py-2.5 text-sm font-semibold text-gray-900 shadow hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white;
}

.btn-secondary {
  @apply w-full sm:w-auto inline-flex items-center justify-center rounded-md bg-transparent border border-white px-4 py-2.5 text-sm font-semibold text-white hover:bg-white hover:text-gray-900 transition;
}